.container{
    margin-left: 10px;
    animation-name: cont;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.05s;
}

@keyframes cont {
    from {
        margin-left: 0px;
        opacity: 0%;
    }

    to {
        margin-left: 10px;
        opacity: 100%;
    }
}

.content{
    margin-left: 50px;
}

.aboutMe{
    font-size: 30px;
}

.para1{
    font-size: 19px;
    margin-top: 50px;
}
.para2{
    font-size: 19px;
}

.company{
    font-weight: bolder;
}

.exp{
    margin-top: 40px;
    font-size: 30px;
}

.design{
    font-size: 19px;
}

.ui{
    font-size: 19px;
}

.video{
    font-size: 19px;
}
