@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

/* HOME SECTION */
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 252, 252);
    color: black;
    box-shadow: 0 0 10px 2px rgb(156, 154, 154);
}


.brand-title {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    color: black;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    border-bottom: 5px solid black;
}

.home.active1 {
    border-bottom: 5px solid black;
}

.about.active1 {
    border-bottom: 5px solid black;
}

.contact.active1 {
    border-bottom: 5px solid black;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 15px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 460px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }
}

.active {
    display: inherit;
}

.container {
    margin-left: -100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: cont;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.05s;
}

@keyframes cont {
    from {
        margin-left: 0px;
        opacity: 0%;
    }

    to {
        margin-left: -100px;
        opacity: 100%;
    }
}

.firstSpan {
    font-size: 30px;
    font-weight: 300;
}

.secondSpan {
    font-size: 20px;
}

.uneeb {
    font-size: 50px;
}

.thirdSpan {
    font-size: 27px;
}

.head {
    margin-left: 90px;
}

.fifthSpan {
    font-size: 15px;
    font-weight: 500;
}

.btn-primary {
    margin-left: -10px;
    margin-top: 40px;
    padding: 10px 20px;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: medium;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

.btn-secondary {
    margin-left: 15px;
    margin-top: 40px;
    padding: 10px 30px;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: medium;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn-secondary:hover{
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

.back {
    position: absolute;
    height: 350px;
    width: 350px;
    margin-left: 800px;
    margin-top: -330px;
}

.man {
    position: relative;
    height: 350px;
    width: 350px;
    margin-left: 800px;
    margin-top: -900px;
}

/* ABOUT SECTION */
.content {
    margin-left: 100px;
    margin-top: 30px;
}

.content1{
    animation-name: cont1;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
}

@keyframes cont1 {
    from {
        margin-left: -660px;
        opacity: 0%;
    }

    to {
        margin-left: 10px;
        opacity: 100%;
    }
}

.skill{
    animation-name: skills;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
}

@keyframes skills {
    from {
        margin-left: -660px;
        opacity: 0%;
    }

    to {
        margin-left: 10px;
        opacity: 100%;
    }
}

.aboutMe {
    font-size: 50px;
}

.para1 {
    font-size: 20px;
    margin-top: 30px;
}

.para2 {
    font-size: 20px;
}

.company {
    font-weight: bolder;
}

.exp {
    margin-top: 40px;
    font-size: 50px;
    font-weight: 500;
}

.design {
    font-size: 20px;
    margin-top: 20px;
}

.ui {
    font-size: 20px;
}

.video {
    font-size: 20px;
}

.lang {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 500;
    animation-name: lang;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
}

@keyframes lang {
    from {
        margin-left: -660px;
        opacity: 0%;
    }

    to {
        margin-left: 0px;
        opacity: 100%;
    }
}

.languages {
    display: flex;
    flex-direction: column;
}

.bar {
    width: 300px;
    height: 5px;
    background-color: black;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.circle {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 100%;
    margin-top: -18px;
    margin-left: 185px;
}

#one {
    animation-name: first;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes first {
    from {
        margin-left: 0px;
        opacity: 0%;
    }

    to {
        margin-left: 185px;
        opacity: 100%;
    }
}

#two {
    margin-left: 160px;
    animation-name: second;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.05s;
}

@keyframes second {
    from {
        margin-left: 0px;
        opacity: 0%;
    }

    to {
        margin-left: 160px;
        opacity: 100%;
    }
}

#three {
    margin-left: 90px;
    animation-name: third;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.05s;
}

@keyframes third {
    from {
        margin-left: 0px;
        opacity: 0%;
    }

    to {
        margin-left: 90px;
        opacity: 100%;
    }
}

#four {
    margin-left: 10px;
    animation-name: four;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.05s;
}

@keyframes four {
    from {
        margin-left: 0px;
        opacity: 0%;
    }

    to {
        margin-left: 10px;
        opacity: 100%;
    }
}

#five {
    margin-left: 40px;
    animation-name: five;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.05s;
}

@keyframes five {
    from {
        margin-left: 0px;
        opacity: 0%;
    }

    to {
        margin-left: 40px;
        opacity: 100%;
    }
}

#six {
    margin-left: 40px;
    animation-name: six;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.05s;
}

@keyframes six {
    from {
        margin-left: 0px;
        opacity: 0%;
    }

    to {
        margin-left: 40px;
        opacity: 100%;
    }
}


/*CONTACT SECTION*/
.form{
    margin-top: 100px;
    margin-left: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group2{
    display: flex;
    flex-direction: column;
}

.emailName{
    font-weight: bold;
}

.passwordName{
    font-weight: bold;
}

.email{
    width: 300px;
    padding: 2px 10px;
}

.password{
    width: 300px;
    padding: 2px 10px;
}

.message{
    display: flex;
    flex-direction: column;
}

.messageName{
    font-weight: bold;
    width: 300px;
}

.formCheck{
    margin-top: 10px;
    margin-left: -0px;
}

.btn1{
    /* margin-left: 100px; */
    margin-top: 10px;
    padding: 5px 40px;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: larger;
    border: none;
    border-radius: 15px;
    cursor: pointer;   
}
.btn1:hover{
   background-color: black;  
   font-weight: bold;
}